<div class="basic-container"> 
    <div class=" h4">
        Delete Employee
    </div>
    <hr/>
    <div class="d-flex h6 justify-content-center">
        are you sure you want to Delete This Recoed?
    </div>
    <figcaption class="blockquote-footer pt-4 text-warning text-gradient">
        Someone famous in 
      </figcaption>
<div class="d-flex justify-content-end mt-5 ">
    <button mat-button class="me-2 px-4" (click)="closeDialogWithNODelete()">Close</button>
    <button mat-button class="bg-danger px-4 text-white" (click)="closeDialog()">Delete</button>
    
</div></div>