<!-- <div class="navbar navbar-dark bg-dark"> -->
  <div class="p-2 pt-0" style="background-color:#232F3E ;">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" aria-label="Text input with segmented dropdown button">
      <button type="button" id="button-addon2"  class=" d-flex justify-align-center btn btn-outline-warning pt-2 buttonOficon " style="background-color:#F0BF4c ;"><mat-icon   class="text-dark iconOfsearch" >search</mat-icon></button>
  </div>
  
  <div class=" textDetails d-flex pt-0" style="overflow-x: scroll;">
      <div class=" gx-5 d-flex">
        <div class=" px-2">
          <button  mat-button class="text-white mr-5 " >
            <span  class="">{{ 'HOME.TITLE' | translate }}</span></button>
          
        </div>
        <div class="px-2">
          <button routerLink="/currency"  mat-button class="mr-5 text-white">
            <span>{{ 'HOME.Today' | translate }}</span></button>
            
        </div>
        <div class=" px-2">
          <button routerLink="/table" mat-button class="text-white  mr-5">
            <span>{{ 'HOME.Customer' | translate }}</span></button>
        </div>
        <div class=" px-2">
          <button routerLink="/tablePag" mat-button class="text-white mr-5">
            <span>{{ 'HOME.Registry' | translate }}</span></button>
            
        </div>
        <div class=" px-2">
          <button mat-button class="text-white mr-5">
            <span>{{ 'HOME.Gift' | translate }}</span></button>
            
        </div>
        <div class=" px-2">
       
  <button  mat-button class="text-white">
    <span>{{ 'HOME.Sell' | translate }}</span></button>
            
        </div>
      </div>
</div>

</div>

  

  
 
  
