<div class="basic-container">
    <div class="d-flex">
    <div class=" h4">
        Edit Data Of Employee
    </div>
    <button (click)="closeDialog()" mat-icon-button >
    <mat-icon>clear</mat-icon>        
</button>
</div>
    <mat-form-field>
        <label for="Name"></label>
      <input matInput  placeholder="Name" id="Name" [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field>
        <label for="Phone"></label>
      <input matInput  placeholder="Phone" id="Phone" [(ngModel)]="data.Phone">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Addess</mat-label>
        <textarea [(ngModel)]="data.Addess" matInput [placeholder]="data.Addess"></textarea>
      </mat-form-field>
    
    <mat-form-field>
        <label for="Email"></label>
      <input matInput  placeholder="Email" id="Email" [(ngModel)]="data.Email">
    </mat-form-field>
    
  
   
    
    <div class="d-flex justify-content-end mt-2">
    <button  mat-button (click)="closeDialog()">Close</button>
    <button class="bg-success text-white ms-1" mat-button (click)="closeDialog()">Save</button>
    </div></div>