<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    margin: 82px auto 32px;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar directionRTL" style="background-color:#232F3E ;" role="banner">
  <img
    width="140" 
    height="60"
    alt="Angular Logo"
    src="../assets/images/amazon_dkblue_noto_email_v2016_us-main._CB468775337_.png"
  />
  
  <div>
    <p ><small class="text-secondary ps-4 ">{{'HOME.Delivery'| translate}}</small></p>
    <div class="d-flex pe-2">
  <mat-icon class=""> location_on</mat-icon><p>{{'HOME.Country'| translate}}</p></div>
</div>
  <div class="input-group sizeOFInput ps-3">
    <button mat-button [matMenuTriggerFor]="menu" class="btn btn-outline-warning dropdown-toggle text-white bg-secondary BorderRadiusInArabicMoodForAll" type="button"  aria-expanded="false">{{ 'HOME.TITLE' | translate }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <input type="text" class="form-control border border-warning" aria-label="Text input with dropdown button">
    <button class="btn btn-outline-warning d-flex justify-align-center BorderRadiusInArabicMood" style="background-color:#F0BF4c ;" type="button" id="inputGroupFileAddon04"><mat-icon class="text-white" >search</mat-icon></button>

  </div>
  <div class="disableComponentOnSmall">
  <button [matMenuTriggerFor]="menuInput"  class="btn btn-outline-warning ms-2 d-flex justify-align-center " style="background-color:#F0BF4c ;" type="button" id="inputGroupFileAddon04"><mat-icon class="text-white" >search</mat-icon></button>
  <mat-menu class="pe-5" #menuInput="matMenu" xPosition="before">
    <input  mat-menu-item type="text">  
  </mat-menu>
</div>

  <button    mat-button [matMenuTriggerFor]="menu1" mat-icon-button> <img
      width="29" 
      height="20"
      alt="Angular Logo"
      :src="{{flagA}}"
    /> </button>
<mat-menu  #menu1="matMenu">
  <button mat-menu-item (click)="setImageFlag(lang.filePreviewPath,lang.code)"  *ngFor="let lang of ArrayOfLanguage" [value]="lang.code" > <img
    width="29" 
    height="20"
    alt="Angular Logo"
    :src="{{lang.filePreviewPath}}"
  /> {{lang.name}}</button>
  
</mat-menu>
<div class="ps-3 disableComponent">
  <p ><small class="text-white ps-3 welcomeText">{{ 'HOME.Welcome' | translate }}</small></p>
  <div class="d-flex pe-2">
    <button class="dropdown-toggle " mat-button [matMenuTriggerFor]="menu122" >{{ 'HOME.Account&Lists' | translate }}</button>
<mat-menu #menu122="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
  
</mat-menu></div>
</div>
 <div class=" disableComponent paddingForRerturn ">
  <p ><small class="text-white paddingForRerturnRight">{{ 'HOME.Return' | translate }}</small></p>
  <div class="d-flex pe-2 ">
<p>{{ 'HOME.Orders' | translate }}</p></div>
</div>
<button mat-button mat-icon-button (click)="AddTOCart()">
  
<mat-icon class="icon-display disableComponent " :matBadge="{{numberOfitems}}" matBadgeSize="small" matBadgeColor="warn"> shopping_cart</mat-icon><span class="h6 pt-4 ps-1 pe-2 disableComponent">{{'HOME.Cart'|translate}}</span>
</button></div>
<div class="mt-5 pt-2 d-flex ps-2 directionRTL textDetails "    style="background-color:#37475A ;">
  <button  mat-icon-button class="text-white disableComponent " ><mat-icon class="text-white">view_headline</mat-icon>
  <span  class="">{{ 'HOME.TITLE' | translate }}</span></button>
  <button (click)="drawer.toggle()" mat-icon-button class="text-white disableComponentOnSmall " ><mat-icon class="text-white">view_headline</mat-icon>
  <span  class="">{{ 'HOME.TITLE' | translate }}</span></button>
  
  <button routerLink="/currency"  mat-button class="   disableComponent text-white">
  <span>{{ 'HOME.Today' | translate }}</span></button>
  
  <button routerLink="/table" mat-button class="text-white  disableComponent">
  <span>{{ 'HOME.Customer' | translate }}</span></button>
  
  <button routerLink="/tablePag" mat-button class="text-white disableComponent">
  <span>{{ 'HOME.Registry' | translate }}</span></button>
  
  <button mat-button class="text-white disableComponent">
  <span>{{ 'HOME.Gift' | translate }}</span></button>
  

  <button  mat-button class="text-white disableComponent">
  <span>{{ 'HOME.Sell' | translate }}</span></button>
  
</div>
<div>
  <mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer style="background-color:#37475A ; " class="example-sidenav disableComponentOnSmall"  >
    <button mat-button class="text-white ">
      <span>{{ 'HOME.Today' | translate }}</span></button>
    <button (click)="drawer.toggle()" mat-icon-button class="text-white ">
      <mat-icon>close</mat-icon></button>
      <br>

      <button mat-button class="text-white ">
      <span>{{ 'HOME.Customer' | translate }}</span></button>
      <br>

      <button mat-button class="text-white ">
      <span>{{ 'HOME.Registry' | translate }}</span></button>
      <br>

      <button mat-button class="text-white ">
      <span>{{ 'HOME.Gift' | translate }}</span></button>
      
    <br>
      <button  mat-button class="text-white ">
      <span>{{ 'HOME.Sell' | translate }}</span></button>
    </mat-drawer>

<router-outlet></router-outlet>
</mat-drawer-container>
