<div class="backgroundImage text-white " >
    <mat-card-title class="d-flex justify-content-center pt-3">Currency Converter{{ currencyes$ | async}}{{currencye$|async}}</mat-card-title>
<div class="d-flex pt-4 justify-content-around">
    <div class="pt-4">{{Country}}</div>
    <div>
    <mat-form-field class="example-full-width " appearance="fill">
        <input matInput (change)="changeUSDtoEUR($event)"  [value]="BidPrice">
      </mat-form-field>
    </div>
</div>
<span class="material-icons" style="transform: rotate(270deg); font-size: 65px;">compare_arrows</span>


    <div class="d-flex justify-content-around">
    <div class="pt-4">EUR</div>

    <div class="">
        <mat-form-field class="example-full-width" appearance="fill">
        <input matInput (change)="changeEURtoUSD($event)" [value]="AskPrice">
      </mat-form-field></div></div>
</div>
